*, :after, :before {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito Sans', sans-serif;
  
}

.content-container{
  padding-top: 80px;
  margin-left: 250px;
  background-color: $BackgroundColor2;
  transition: all 0.7ms;
  height: 100%;
  position: relative;
  

  @media (max-width: 540px) {
    margin-left: 0;
  }

  .wrapper-content{
    position: relative;
    padding: 2rem;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}